<html>
<head>
  <meta charset="UTF-8">
  <title>Rattice</title>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .grid {
        height: 120px;
    }
    .grid img {
        max-height: 100%;
        max-width: 100%;
    }
    .grid video {
        max-height: 100%;
        max-width: 100%;
    }
  </style>
</head>
<body>
  <h1>{{ uri }}</h1>
  <div class="grid-container">
    {% for file in files %}
    <div class="grid">
      {% match file %}
        {% when File::Directory with {path, name} %}
          <a href="/{{ path }}">
            <div>{{ name }}/</div>
          </a>
        {% when File::File with {path, name, media_type} %}
          {% if file.is_image() %}
            <a href="/static/{{ path }}">
                <img src="/static/{{ path }}">
                <div>{{ name }}</div>
            </a>
            <div>{{ name }}</div>
          {% else if file.is_video() %}
            <a href="/static/{{ path }}">
                <video controls src="/static/{{ path }}">
                <div>{{ name }}</div>
            </a>
            <div>{{ name }}</div>
          {% else %}
            <a href="/static/{{ path }}">
                <div>{{ name }}</div>
            </a>
          {% endif %}
      {% endmatch %}
    </div>
    {% endfor %}
  </div>
</body>
</html>
