<html>
<head>
  <meta charset="UTF-8">
  <title>Rattice</title>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .grid {
        height: 120px;
        border: ridge;
    }
    .grid .name {
        height: 20%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .grid .content {
        height: 80%;
        max-width: 100%;
    }
  </style>
</head>
<body>
  <h1>{{ uri }}</h1>
  <div class="grid-container">
    {% for file in files %}
    <div class="grid" title="{{ file.name() }}">
      {% match file %}
        {% when File::Directory with {path, name} %}
          <div class="name">
            <a href="/{{ path }}">{{ name }}/</a>
          </div>
        {% when File::File with {path, name, media_type} %}
          {% if file.is_image() %}
            <a href="/static/{{ path }}">
              <img class="content" src="/static/{{ path }}">
            </a>
          {% else if file.is_video() %}
            <a href="/static/{{ path }}">
              <video class="content" src="/static/{{ path }}" controls>
            </a>
          {% endif %}
          <div class="name">
            <a href="/static/{{ path }}">{{ name }}</a>
          </div>
      {% endmatch %}
    </div>
    {% endfor %}
  </div>
</body>
</html>
